[istex-api]
host=api.istex.fr

[grobid-service]
host=vp-istex-grobid.intra.inist.fr
port=8080
route=/processReferencesViaUrl
# il s'agit d'un proxy éventuel *entre le service et l'api* uniquement
proxy_host=""
proxy_port=""

[output]
# valeurs possibles : 'teiCorpus', 'tei'
format=teiCorpus
dir=mes_sorties_bib_tei
